Repository gamerslouis/drone-monorepo: changes, and which Drone steps are due for each by the changed paths.
All: Docker build, Chart build

Docker build:
  steps:
  - name: version
    image: alpine
    commands:
    - printf "`cat code/VERSION`,latest" > .tags
  - name: build
    image: plugins/docker
    settings:
      repo: registry.192.168.178.48.nip.io/drone-monorepo
      registry: registry.192.168.178.48.nip.io
      dockerfile: code/Dockerfile
      insecure: true

Chart build:
  steps:
  - name: Package and push chart
    image: registry.192.168.178.48.nip.io/helm-build:latest
    commands:
    - helm lint chart/
    - helm package chart/
  ...

v1.0.3 of monorepo, chart v0.2.0
  .drone.yml
  .gitignore
  chart/Chart.yaml
  chart/templates/deployment.yaml
  chart/values.yaml
  code/Dockerfile
  code/VERSION
  code/main.py
Due: Docker build, Chart build

kaniko build
  .drone.yml
  chart/Chart.yaml
  code/VERSION
  code/main.py
Due: Docker build, Chart build

drone-monorepo v1.1.0 and chart v0.3.0
  chart/Chart.yaml
  chart/templates/deployment.yaml
  chart/templates/service.yaml
  chart/values.yaml
  code/Dockerfile
  code/VERSION
  code/main.py
Due: Docker build, Chart build

v1.3.3 of code and v0.4.0 of chart
  .drone.yml
  chart/Chart.yaml
  chart/templates/configmap.yaml
  chart/templates/deployment.yaml
  chart/templates/hpa.yaml
  chart/values.yaml
  code/Dockerfile
  code/VERSION
  code/main.py
Due: Docker build, Chart build

Version 1.6.1
  .drone.yml
  chart/Chart.yaml
  code/Dockerfile
  code/VERSION
  code/__init__.py
  code/github.py
  code/main.py
  code/monorepo.py
  code/triggers.py
Due: Docker build, Chart build

v2
  .drone.yml
  .gitignore
  chart/Chart.yaml
  code/Dockerfile
  code/VERSION
  code/__init__.py
  code/backends/github.py
  code/main.py
  code/models/pipelines.py
  code/models/steps.py
  code/monorepo.py
  code/parsers/includes.py
  code/parsers/paths.py
  code/parsers/trigger_groups.py
  code/triggers.py
  code/utils/utils.py
Due: Docker build, Chart build

v2.2.5
  README.md
  chart/Chart.yaml
  chart/templates/deployment.yaml
  chart/values.yaml
  code/VERSION
  code/backends/github.py
  code/main.py
  code/models/pipelines.py
  code/models/steps.py
  code/monorepo.py
  code/parsers/base_parser.py
  code/parsers/includes.py
  code/parsers/paths.py
  code/parsers/target_pipelines.py
  code/parsers/trigger_groups.py
Due: Docker build, Chart build

Remove paths&inclusion parser and github backend
  README.md
  code/main.py
Due: Docker build

Remove token load
  code/main.py
Due: Docker build

Update support for new drone version steps
  code/models/steps.py
Due: none

Path conditions:
  Docker build: any of: code/*
  Chart build: any of: chart/*
